# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# 仮想環境
.venv/
venv/
ENV/

# テスト関連
htmlcov/
.coverage
.tox/
.pytest_cache/

# VSCode
.vscode/

# OS固有
.DS_Store
Thumbs.db

# ログ・一時ファイル
*.log
*.tmp

# pipenv/poetry
Pipfile.lock
poetry.lock

# Jupyter Notebook
.ipynb_checkpoints/
